@import ~assets/css/utils/media

$background-gradient: linear-gradient(90deg, #151515 0%, #1D1D1D 10%, #1D1D1D 90%, #151515 100%)
$background-gradient-light: linear-gradient(90deg, #202020 0%, #292929 10%, #292929 90%, #202020 100%)

.responsive-margins
  margin: 0 30px

  @media #{$tablets-up}
    margin: 0 auto
    width: 640px

  @media #{$medium-up}
    width: 960px
